/.vscode
/assignm.exe
/Code.cpp
/Code.exe
/Code1.cpp
/Code10.cpp
/Code2.cpp
/Code2.exe
/Code3.cpp
/Code3.exe
/Code4.cpp
/Code4.exe
/Code5.cpp
/Code5.exe
/File.xls
/Invoice.csv
/Node.exe
/nwe.cpp
/nwe.exe